ENVIRONMENT=production

APP_NAME=Image Showcase
APP_DESCRIPTION=Open source image gallery
APP_KEYWORDS=image gallery, image showcase
APP_URL=https://showcase.ythepaut.com

IMAGES_URL=http://showcase.ythepaut.com/assets/images.json

TIMEZONE=Europe/Paris
DEFAULT_LOCALE=fr

IMAGE_HOSTNAME_PATTERNS=localhost,*.ythepaut.com
