@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    font-family: "Inter", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}

.bp-wrap > div:first-child {
  background: transparent !important;
}
